input.readonly {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  background-color: rgba(0, 0, 0, 0.07);
}
.help-text-warning {
  background-color: #ffe5e5;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
}
.help-text-warning img {
  min-width: 30px;
}
