input.readonly {
  border: 1px solid var(--ow-overlay-5) !important;
  background-color: var(--ow-overlay-7);
}
.help-text-warning {
  background-color: var(--ow-color-primary-light);
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
}
.help-text-warning img {
  min-width: 30px;
}
