language: python
sudo: false
cache: pip

addons:
  apt:
    packages:
      - sqlite3
      - gdal-bin
      - libproj-dev
      - libgeos-dev
      - libspatialite-dev

python:
  - "3.4"
  - "2.7"

env:
  - DJANGO="django>=1.11,<1.12"
  - DJANGO="django>=2.0,<2.1"

matrix:
  exclude:
   - python: "2.7"
     env: DJANGO="django>=2.0,<2.1"

branches:
  only:
    - master

before_install:
  - pip install -U pip wheel setuptools
  - pip install --no-cache-dir -U -r requirements-test.txt
  - ./runflake8
  - ./runisort

install:
  - pip install $DJANGO
  - pip install https://github.com/openwisp/django-netjsonconfig/tarball/master
  - pip install https://github.com/openwisp/django-loci/tarball/master
  - pip install https://github.com/openwisp/django-x509/tarball/master
  - pip install https://github.com/openwisp/openwisp-users/tarball/master
  - python setup.py -q develop
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then pip install git+git://github.com/tinio/pysqlite.git@extension-enabled#egg=pysqlite; fi

script:
  - coverage run --source=openwisp_controller runtests.py
  - if [[ $TRAVIS_PYTHON_VERSION == 3.4 ]]; then ./tests/manage.py makemigrations --dry-run | grep "No changes detected"; fi

after_success:
  coveralls
