[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}
"2e72db2" = {file = "https://github.com/openwisp/django-netjsonconfig/tarball/master"}
"e81041b" = {file = "https://github.com/openwisp/django-x509/tarball/master"}

[dev-packages]
coverage = "*"
coveralls = "*"
isort = "*"
flake8 = "*"

[scripts]
lint = "python -m flake8"
isort = "python -m isort"
test = "python runtests.py"
