pytest-cov~=7.0.0
openwisp-utils[qa,selenium,channels-test] @ https://github.com/openwisp/openwisp-utils/tarball/1.2
django_redis~=6.0.0
mock-ssh-server~=0.9.1
responses~=0.25.8
psycopg2-binary~=2.9.10
