# TODO: must increase to django-netjsonconfig>=0.8.1 when released
django-netjsonconfig>=0.8.0,<0.9.0
openwisp-utils[users]<0.3
django-loci>=0.1.1,<0.3.0
djangorestframework-gis>=0.12.0,<0.13.0
paramiko>=2.4.1,<2.5.0
scp>=0.11.0,<0.12.0
