.auto-filter {
  flex-shrink: 0;
  z-index: 1;
  padding: 0px 0.6rem !important;
  position: relative !important;
  letter-spacing: 0.5px;
  font-size: 14px;
  pointer-events: all;
}
.auto-filter ul {
  margin: 0;
  padding: 0;
}
.auto-filter li {
  padding: 0;
}
.auto-filter h3 {
  position: relative;
  margin: 0;
  padding: 0px 5px;
  width: fit-content;
  width: -moz-fit-content;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  font-weight: 300;
  transform: translate(10px, -8px);
  z-index: 3;
}
.auto-filter li {
  list-style-type: none;
}
.auto-filter .select2-container {
  border: none !important;
  padding: 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: -16px !important;
  z-index: 2;
}
.auto-filter .select2-selection {
  border: 1px solid #747272 !important;
  border-radius: 0.2rem !important;
  padding: 0.4rem 1.25rem 0.3125rem 1rem;
}
.auto-filter .select2-selection[aria-expanded='true'] {
  border-color: #df5d43 !important;
}
.auto-filter .select2-selection[aria-expanded='true'] .select2-selection__rendered {
  color: #df5d43 !important;
}
#auto-filter-choices {
  display: block;
  min-height: 14.75rem;
  border: none;
}
#auto-filter-choices .select2-container--open {
  border: none !important;
  top: 17px !important;
  left: 0 !important;
}
#auto-filter-choices .select2-search--dropdown {
  background: #fff !important;
}
#auto-filter-choices .select2-dropdown--below {
  border-radius: 0.35rem;
  width: min-content;
  background: #fff;
  width: min-content;
  max-height: 18.75rem;
  min-width: 100%;
  border: none !important;
  box-shadow: 0px 1px 4px #00000040;
  overflow-y: auto;
}
#auto-filter-choices .select2-results ul {
  margin: 0;
  padding: 0;
}
#auto-filter-choices .select2-results li {
  margin: 0;
  list-style-type: none;
  color: #777;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
  transition: color 0.15s, background 0.15s;
}
#auto-filter-choices .select2-results__option[aria-selected='true'] {
  background: #df5d43 !important;
  color: #ffff !important;
}
#auto-filter-choices .select2-results__option--highlighted {
  background: #ffe5e5 !important;
  color: #ba2121 !important;
}
