body {
  overflow-y: auto;
}
ins {
  padding: 5px;
  white-space: nowrap;
}
#main-content .results tbody td,
#main-content .results tbody th,
div#main-content table tbody th,
div#main-content table tbody td {
  padding: 0.2rem 10px;
}

/* Overrides system/browser dark theme, which is not supported in OpenWISP yet */
@media (prefers-color-scheme: dark) {
  table.import-preview tr.skip {
    background-color: var(--ow-color-fg-light);
  }
  table.import-preview tr.new {
    background-color: var(--ow-color-success);
  }
  table.import-preview tr.delete {
    background-color: var(--ow-btn-danger-bg);
  }
  table.import-preview tr.update {
    background-color: var(--ow-color-fg-lighter);
  }
  .validation-error-container {
    background-color: var(--ow-btn-danger-bg);
  }
  table.import-preview td ins {
    background-color: var(--ow-color-fg-light);
  }
  table.import-preview td del {
    background-color: var(--ow-color-fg-light);
  }
}
