{% load i18n %}

<div class="ow-filter">
  <div class="filter-title" title="{{ choice.display }}">
    {% with choices.0 as all_choice %}
    <h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
    <form method="GET" action="">
      {% for key, value in all_choice.query_parts %}
      <input type="hidden" name="{{ key }}" value="{{ value }}" />
      {% endfor %}
      <input type="text" class="ow-input-filter-field" value="{{ spec.value | default_if_none:'' }}"
        name="{{ spec.parameter_name }}"
        style="padding:0px;border:0px;outline:0px;letter-spacing:0.5px;font-weight:600;margin-top:-0.3rem;" />
      {% if not all_choice.selected %}
      <a class='ow-input-filter-field-clear' href="{{ all_choice.query_string }}">&#x2716; {% trans 'Clear' %}</a>
      {% endif %}
    </form>
  </div>
  <div class="filter-options" style="display:none">
   <a name="{{ spec.parameter_name }}" class="selected"
      data-query_string="{{ all_choice.query_string | default_if_none:'' }}"
      {% if spec.value %}
        href="?subnet={{ spec.value }}"
      {% else %}
        href="{{ all_choice.query_string | default_if_none:'' }}"
      {% endif %}></a>
  </div>
  {% endwith %}
</div>

<script>
  'use strict';
  (function () {
    document.addEventListener(
      'DOMContentLoaded',
      function () {
        if (!document.querySelector('#ow-apply-filter')) {
          return;
        }
        const inputFilterField = document.querySelector('.ow-filter .ow-input-filter-field'),
          inputFilterFieldClear = document.querySelector('.ow-filter .ow-input-filter-field-clear');
        inputFilterField.addEventListener('change', function () {
          var anchorEl = this.parentElement.parentElement.nextElementSibling.children[0];
          if (this.value !== '') {
            if (anchorEl.dataset.query_string !== '') {
              anchorEl.setAttribute('href', anchorEl.dataset.query_string + '&subnet=' + this.value);
            } else {
              anchorEl.setAttribute('href', '?subnet=' + this.value);
            }
          } else {
            anchorEl.setAttribute('href', anchorEl.dataset.query_string);
          }
        });
        if (inputFilterFieldClear) {
          inputFilterFieldClear.addEventListener('click', function (event) {
            event.preventDefault();
            // empty the input field
            this.previousElementSibling.value = '';
            this.previousElementSibling.dispatchEvent(new Event('change'));
          });
        }
      },
      false
    );
  })();
</script>
