#id_params_jsoneditor > div[data-schemaid="root"] {
  margin-top: -32px;
}
.jsoneditor-wrapper > fieldset:first-of-type {
  margin-bottom: 0;
}
#credentials_form fieldset > .form-row:not(.field-connector),
.jsoneditor-wrapper {
  display: none;
}
#credentials_form fieldset > .form-row.errors {
  display: block !important;
}
.jsoneditor-wrapper .form-row textarea {
  font-family: monospace;
}
#credentials_form .jsoneditor-wrapper div.jsoneditor .inline-group{
  border: 0 none
}
#credentials_form fieldset > .form-row.errors.field-params > div { display: none }
.jsoneditor-wrapper .form-row {
  display: block;
}
#advanced_editor, .jsoneditor-raw{ display: none }

@media screen and (max-width: 767px) {
  #id_params_jsoneditor > div[data-schemaid="root"] label{ display: none }
}
