{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n l10n admin_urls static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'config/css/device-delete-confirmation.css' %}" />
{% endblock extrastyle %}

{% block content %}
{% if perms_lacking %}
    <p>{% blocktranslate %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktranslate %}</p>
    <ul>{{ perms_lacking|unordered_list }}</ul>
{% elif protected %}
    <p>{% blocktranslate %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktranslate %}</p>
    <ul>{{ protected|unordered_list }}</ul>
{% else %}
    {% if active_devices %}
    <div id="deactivating-warning">
        <ul class="messagelist">
            <li class="warning">
                <p>
                  <strong>
                    {% blocktranslate count counter=active_devices|length %}
                    Warning: Device is not fully deactivated.
                    {% plural %}
                    Warning: Some devices are not fully deactivated.
                    {% endblocktranslate %}
                  </strong>
                </p>
                <p>
                    {% blocktranslate count counter=active_devices|length %}
                    The device below is either still active or
                    in the process of being deactivated:
                    {% plural %}
                    The devices listed below are either still active
                    or in the process of being deactivated:
                    {% endblocktranslate %}
                </p>
                <ul>{{ active_devices|unordered_list }}</ul>
                <p>
                    {% blocktranslate count counter=active_devices|length %}
                    To ensure its configuration is removed, please
                    wait until its status changes to <strong>"deactivated"</strong>.<br>
                    If you proceed now, the device will be deleted,
                    but its configuration will remain active.
                    {% plural %}
                    To ensure their configurations are removed, please
                    wait until their status changes to <strong>"deactivated"</strong>.<br>
                    If you proceed now, the devices will be deleted,
                    but their configurations will remain active.
                    {% endblocktranslate %}
                </p>
                <span>
                    <button class="danger-btn" id="warning-ack">"{% blocktranslate count counter=active_devices|length %}I understand the risks, delete the device{% plural %}I understand the risks, delete the devices{% endblocktranslate %}</button>
                    <button class="button cancel-link">{% translate 'No, take me back' %}</button>
                </span>
            </li>
        </ul>
    </div>
    {% endif %}
    <div id="delete-confirm-container" {% if active_devices %}style="display:none;"{% endif %}>
        <p>{% blocktranslate %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktranslate %}</p>
        {% include "admin/includes/object_delete_summary.html" %}
        <h2>{% translate "Objects" %}</h2>
        {% for deletable_object in deletable_objects %}
            <ul>{{ deletable_object|unordered_list }}</ul>
        {% endfor %}
        <form method="post">{% csrf_token %}
        <div>
        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}">
        {% endfor %}
        <input type="hidden" name="action" value="delete_selected">
        <input type="hidden" name="post" value="yes">
        <input type="submit" value="{% translate 'Yes, I’m sure' %}">
        <a href="#" class="button cancel-link">{% translate "No, take me back" %}</a>
        </div>
        </form>
    </div>
{% endif %}
{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript" src="{% static 'config/js/device-delete-confirmation.js' %}"></script>
{% endblock %}
