{% extends "admin/submit_line.html" %}
{% load i18n l10n %}

{% block submit-row %}
{% comment %}
The form element "act_deact_device" for these elements is present
in admin/config/device/change_form.html. Refer this file for
explanation.
{% endcomment %}
<input type="hidden" name="{{ action_checkbox_name }}" value="{{ original.pk|unlocalize }}" form="act_deact_device">
{% if show_activate %}
    <input type="hidden" name="action" value="activate_device" form="act_deact_device">
    <input class="default" type="submit" value="{% trans "Activate" %}" form="act_deact_device">
{% endif %}
{% if show_deactivate %}
    <input type="hidden" name="action" value="deactivate_device" form="act_deact_device">
    <p class="deletelink-box"><input class="deletelink" type="submit" value="{% trans "Deactivate" %}" form="act_deact_device"></p>
{% endif %}
{{ block.super }}
{% endblock %}
