{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% block extrastyle %}
{{ block.super }}
{% if CONFIG_BACKEND_FIELD_SHOWN is False %}
<style type="text/css">
.form-row.field-backend{ display: none }
</style>
{% endif %}
{% endblock %}

{% block object-tools-items %}
<li>
    {% if download_url %}
    <a href="{{ download_url }}" class="downloadlink">{% trans "Download configuration" %}</a>
    {% endif %}
</li>
{{ block.super }}
{% endblock %}

{% block submit_buttons_top %}{% submit_row %}{% endblock %}
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block field_sets %}
{% if not add %}
<div id="loading-overlay" class="djnjc-overlay loading">
    <div class="spinner"></div>
</div>

<div id="tabs-container">
    <ul class="tabs">
        <li>
            <a class="button" href="#overview-group">{% trans 'Overview' %}</a>
        </li>
    </ul>
    <div class="tabs-divider"></div>
</div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="{% if not add %}change-form{% else %}add-form{% endif %}">
    {{ block.super }}
    <div class="djnjc-overlay">
        <div class="inner"></div>
    </div>

    {% block default_templates_js %}
    {% if default_templates %}
    <script>
        // enable default templates - do not remove this comment
        {% for template in default_templates %}
        django.jQuery('input.sortedm2m[value={{ template }}]').prop('checked', true);
        {% endfor %}
    </script>
    {% endif %}
    {% if default_template_urls %}
    <script>
        // enable default templates - do not remove this comment
        (function ($) {
            var urls = {{ default_template_urls| safe }},
                firstRun = true,
                backendField = $('#id_config-0-backend'),
                addChangeEventToBackend = function () {
                    $('#id_config-0-backend').change(function () {
                        setTimeout(function () {
                            // ensures getDefaultTemplates execute only after other
                            // onChange event handlers attached this field has been
                            // executed.
                            getDefaultTemplates();
                        });
                    });
                },
                unCheckInputs = function () {
                    $('input.sortedm2m').prop('checked', false);
                    $('input[name="config-0-templates"]').attr('value', "");
                    if (window.hasOwnProperty('updateContext')) {
                        window.updateContext();
                    }
                },
                getDefaultTemplates = function () {
                    var orgID = $('#id_organization').val(),
                        backend = $('#id_config-0-backend').val();
                    // proceed only if an organization and a backend have been selected
                    if (orgID.length === 0 || backend.length === 0) {
                        unCheckInputs();
                        return;
                    }
                    var url = urls[orgID],
                        isNew = $('#id_config-0-id').length == 0;
                    // if device is not new, do not execute on page load
                    if (!isNew && firstRun) {
                        return;
                    }
                    // if no url
                    if (!url) {
                        unCheckInputs();
                        return;
                    }
                    // get default templates of selected org and backend
                    url = url + '?backend=' + backend;
                    $.get(url).done(function (data) {
                        unCheckInputs();
                        $.each(data['default_templates'], function (i, uuid) {
                            $('input.sortedm2m[value=' + uuid + ']').trigger('click');
                        });
                    });
                };
            $('#id_organization').change(function () {
                if ($('#id_config-0-backend').length > 0) {
                    getDefaultTemplates();
                }
            });
            if (backendField.length > 0) {
                addChangeEventToBackend();
            } else {
                $('#config-group > fieldset.module').ready(function () {
                    $('div.add-row > a').click(function () {
                        addChangeEventToBackend();
                        getDefaultTemplates();
                    });
                });
            }
            firstRun = false;
        }) (django.jQuery);
    </script>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}
